version: '3.8'

services:
  node-app:
    build: .
    image: node-app
    restart: always
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    networks:
      - node-network

  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db
    networks:
      - node-network

volumes:
  dbdata:

networks:
  node-network:
    driver: bridge
